.addimage {
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.addimage input {
    margin: 10px 0;
    padding: 8px;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addimage button {
    background-color: #ff0000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.addimage button:hover {
    background-color: #8e2020;
}
