.footer {
    display: grid;
    flex-direction: column;
    align-items: start;
    background-color: #1b1919;
    color: white;
    padding: 20px;
    justify-content: start;
  overflow: hidden;
   
  }
  
   .logo  {
    font-size: 24px;
    margin-bottom: 10px;
    max-width: 250px;
  }
  
  .footer-link ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  .footer-link ul li {
    display: inline;
  }
  
  .footer-link ul li a {
    text-decoration: none;
    color: white;
  }
  
  .social {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .icon
  {
   background-color: rgb(194, 58, 58);
   padding: 5px;
   color: white;
   border-radius: 10px;
  }
  .icon:hover{
    background-color: black;
  }